*{
    margin: 0;
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    color: #434455;
}

.container{
    flex-basis: 1158px;
    flex-grow: 1;
}

.logo{
    font-family: "Raleway" , sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 156px;
    margin-right: 0;
}
.span-header{
    color:#2E2F42;
}
.span-footer{
    color:#F4F4FD;
}

.header-menu .header-nav ul li{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu ul li{
    list-style-type: none;
}

.header-menu {
    display: flex;
    position: fixed;
    flex-direction: row;
    background-color: #FFFFFF;
    width:  100%;
    border-bottom: 1px solid #2E2F42;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-menu .header-nav{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.list-nav{
    margin-left: 76px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu-list-nav{
    color: #2E2F42;
    text-decoration: none;
    list-style-type: none;
}

a.menu-list-nav:hover{
    color:#404BBF;
}
a.menu-list-nav:focus{
    color: #404BBF;
}

a.logo,
span.span-header {
    align-content: center;
}

.header-menu .header-add{
    font-style: normal;
    display: flex;
    flex-direction: row;
}

.list-add {
    margin-right: 156px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu-list-add{
    text-decoration: none;
    list-style-type: none;
    color: #434455;
}
a.menu-list-add:hover {
    color: #404BBF;
}

a.menu-list-add:focus{
    color: #404BBF;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-entrance{
    background-color: #2E2F42;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
    border-bottom: 1px solid #2E2F42;
}

.section-features{
    display: flex;
    flex-wrap: nowrap;
}

.section-features ul li{
    display: inline-block;
}

.feature-list {
    margin: 0 auto;
    padding-inline-start: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.feature-list .feature {
    width: 264px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-team{
    background-color: #F4F4FD;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-members{
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
}

.member{
    background-color: #FFFFFF;
    width: auto;
    box-shadow: 0.5px 1px 0.5px 0.5px #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.member img{
    max-width: 100%;
}

.member-text{
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 8px;
}

.portfolio-list{
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.section-portfolio .portfolio-list{
    margin-bottom: 48px;
    margin-top: 72px;
}

.portfolio-list-item{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
}

.portfolio-list-item img {
    max-width: 100%;
}

.portfolio-list-item-text{
    text-align: left;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-one{
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    display: flex;
    align-self: center;
    margin-top: 140px;
}

button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    
}

button.order-button{
    background-color: #4D5AE5;
    width: 100½;
    height: auto;
    padding: 16px 32px;
    border-width: 1px;
    border-radius: 4px;
    display: flex;
    align-self: center;
    gap: 10px;
    margin-bottom: 68px;

}

button.order-button:hover{
    background-color: #404BBF;
}

button.order-button:focus{
    background-color: #404BBF;
}

.header-two{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.visually-hidden{
    display: none;
}

.header-three{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.paragraph{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

footer {
    background-color: #2E2F42;
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-left: 156px;
}

.footer-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 264px;
}

.footer .logo{
    margin: 0 0;
}

.footer .paragraph{
    color: #F4F4FD;
}

